:root{
    --text-color:#FFF;
    --accent-color-1:#C0B7E8;
    --accent-color-2:#8176AF;
    --main-color:#302C42;
    --button-text-color:#343045;
    --foto-bg:#A3A3A3;
}


body{
    background-color: var(--main-color);
    font-family: "Montserrat", sans-serif;
}

.container{
    width: 1278px;
    padding: 0 10px;
    margin: 0 auto;
    outline: 1px solid red;
}

/* header */

.header-box{
    display: flex;
    align-items: center;
}

.header-logo{
    display: flex;
    align-items: center;
    margin-right: auto;
}

.header-list{
    display: flex;
    gap: 42px;
}

.header-link{
    color: var(--text-color);
    font-size: 12px;
    font-weight: 700;
    line-height: 1.25;
}

.header-btn{
    padding: 17px 38px 16px 37px;
    color: var(--button-text-color);
    border-radius: 40px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.25;
}

.header-items{
    display: flex;
    margin-left: auto;
    gap: 38px;
}

.header-items :first-child>.header-btn{
    color: var(--text-color);
    background-color: var(--main-color);
    border: 2px solid var(--text-color);
}

/* hero */

.hero{
    padding-top: 98px;
}

.hero-box{
    display: flex;
    align-items: start;
}

.hero-title{
    width: 456px;
    margin-bottom: 36px;
    color: var(--text-color);
    font-size: 46px;
    font-weight: 700;
    line-height: 1.22;
}

.hero-color{
    color: var(--accent-color-2);
}

.hero-text{
    width: 450px;
    margin-bottom: 66px;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
}

.hero-btn{
    padding: 17px 43px 18px 38px;
    background: linear-gradient(90deg, #8176AF 1%, #C0B7E8 99%);
    border-radius: 40px;
    color: var(--button-text-color);
    font-size: 12px;
    font-weight: 700;
    line-height: 1.25;
}

/* .hero-btn::after{
    content: "";
    display: inline-flex;
    margin-left: 11px;
    background-color: var(--main-color);
    width: 100px;
    height: 100px;
    background-image: url(../img/small-arrow.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
} */

.hero-img{
    width: 490px;
    margin-left: 308px;
    border-radius: 100px 100px 100px 240px;
    background: #A3A3A3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* contact */

.contact{
    padding-top: 88px;
}

.contact-list{
    padding: 49px 0;
    border-radius: 90px 90px;
    background: radial-gradient(circle,rgba(58, 52, 86, 1) 0%, #211E2E 100%);
    display: flex;
    justify-content: center;
    gap: 90px;
}

.contact-item{
    display: flex;
    align-items: center;
}

.contact-wrapper{
    flex-direction: column;
}

.contact-img{
    width: 70px;
}

.contact-title{
    color: var(--text-color);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.20;
}

.contact-link{
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.21;
}

/* intro */

.intro{
    padding-top: 94px;
}

.intro-box{
    display: flex;
    justify-content: space-between;
}

.intro-title{
    width: 298px;
    color: var(--text-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.22;
}

.intro-title::after{
    content: "";
    display: block;
    width: 228px;
    height: 100px;
    background-image: url(../img/title-arrow.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.intro-color{
    font-weight: 300;
}

.intro-text{
    width: 652px;
    margin-left: 111px;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
}

/* about */

.about{
    padding-top: 69px;
}

.about-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-title{
    width: 298px;
    margin-bottom: 100px;
    color: var(--text-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.22;
}

.about-title::after{
    content: "";
    display: block;
    width: 228px;
    height: 100px;
    background-image: url(../img/title-arrow.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.about-img{
    width: 524px;
    border-radius: 240px 100px;
    background: var(--foto-bg);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.about-subject{
    width: 192px;
    margin-bottom: 42px;
    color: var(--text-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.22;
}

.about-color{
    font-weight: 300;
}

.about-text{
    width: 652px;
    margin-bottom: 28px;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
}

.about-btn{
    padding: 16px 47px 17px 39px;
    margin: 28px 0 68px ;
    border-radius: 40px;
    background: linear-gradient(90deg, #8176AF 1%, #C0B7E8 99%);
    color: var(--button-text-color);
    font-size: 12px;
    font-weight: 700;
    line-height: 1.25;
}
/* why */

.why{
    padding-top: 111px;
}

.why-box{
    display: flex;
    justify-content: center;
}

.why-title{
    width: 505px;
    color: var(--text-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.22;
}

.why-title::after{
    content: "";
    display: block;
    width: 228px;
    height: 100px;
    background-image: url(../img/title-arrow.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.why-color{
    font-weight: 300;
}

.why-text{
    width: 652px;
    margin-left: 117px;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
}

/* services */

.services{
    padding-top: 74px;
}

.services-list{
    display: flex;
    justify-content: center;
    gap: 11px;
}

.services-item{
    width: 310px;
    padding: 23px 35px 40px 35px;
    border-radius: 40px;
    background: radial-gradient(circle, #433D60 2%, #211E2E 98%);
    flex-basis: calc((100% - 33px) / 4);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-img{
   width: 219px; 
   border-radius: 50%;
}

.services-subject{
    margin-top: 39px;
    color: var(--text-color);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.20;
}

.services-desk{
    margin-top: 39px;
    width: 250px;
    color: var(--text-color);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.25;
}

.services-btn{
    margin-top: 35px;
    padding: 16px 39px 17px 39px;
    color: var(--button-text-color);
    border-radius: 40px;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    font-size: 12px;
    font-weight: 700;
    line-height: 1.25;
}

/* tech */

.tech{
    padding-top: 116px;
}

.tech-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tech-title{
    margin: 116px 342px 104px 342px;
    width: 577px;
    color: var(--text-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.22;
}

.tech-color{
    font-weight: 300;
}

.tech-list{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.tech-list :first-child>.tech-img{
    width: 174px;
    margin-right: 91px;
}

.tech-list :nth-child(2)>.tech-img{
    width: 252px;
    margin-right: 71px;
}

.tech-list :nth-child(3)>.tech-img{
    width: 263px;
    margin-right: 56px;
}

.tech-img{
    width: 282px;
}

/* how */

.how{
    padding-top: 67px;
}

.how-box{
    display: flex;
    align-items:start;
    flex-wrap: wrap;
}

.how-title{
    width: 321px;
    margin-right: 55px;
    color: var(--text-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.22;
}

.how-title::after{
    content: "";
    display: block;
    width: 228px;
    height: 100px;
    background-image: url(../img/title-arrow.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.how-color{
    font-weight: 300;
}

.how-desk{
    width: 652px;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
}

.how-list{
    margin-top: 342px;
    display: flex;
    justify-content: center;
}

.how-list :first-child>.how-subject{
    margin-right: 89px;
}

.how-list :nth-child(2)>.how-subject{
    margin-right: 121px;
}

.how-list :nth-child(3)>.how-subject{
    margin-right: 107px;
    width: 157px;
}

.how-item{
    display: flex;
    justify-content: center;
}

.how-item::before{
    content: "";
    display: block;
    width: 67px;
    height: 67px;
    background-image: url(../img/btn-list-arrow.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.how-subject{
    width: 187px;
    color: var(--text-color);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.20;
}

/* join */

.join{
    padding-top: 112px;
}

.join-box{
    padding: 90px 110px 84px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.join-title{
    margin-bottom: 30px;
    color: var(--text-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.22;
}

.join-title::after{
    content: "";
    display: block;
    width: 414px;
    height: 1px;
    background-image: url(../img/join-line.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.join-subtitle{
    margin: 21px 0 65px;
    margin-bottom: 65px;
    color: var(--text-color);
    font-size: 36px;
    font-weight: 300;
    line-height: 1.22;
}

.join-input{
    color: var(--text-color);
    background-color: var(--main-color);
    width: 524px;
    height: 72px;
    padding: 0 42px;
    border-radius: 40px;
    outline: 2px solid var(--text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.21;
}

.join-textarea{
    color: var(--text-color);
    background-color: var(--main-color);
    width: 1058px;
    height: 210px;
    padding: 27px 42px;
    border-radius: 40px;
    outline: 2px solid var(--text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.21;
}

.join-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 39px;
    column-gap: 10px
}

.join-wrapper{
    flex-basis: calc((100% - 20px) / 2);
    padding: 0 110px;
    display: flex;
    row-gap: 39px;
    column-gap: 10px;
}

.join-wrap :first-child>.join-input{
    width: 1048px;
}

.join-wrap{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 39px;
}

.join-btn{
    padding: 17px 55px;
    margin-top: 51px;
    margin-left: 529px;
    border-radius: 40px;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    color: var(--button-text-color);
    font-size: 12px;
    font-weight: 700;
    line-height: 1.25;
}

/* footer */

.footer{
    padding-top: 127px;
    padding-bottom: 60px;
}

.footer-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 181px;
}

.footer-logo{
    width: 185px;
}

.footer-title{
    margin-bottom: 39px;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
}

.footer-list{
    display: flex;
    align-items: center;
}

.footer-list :first-child>.footer-items{
    margin-right: 211px;
}

.footer-list :nth-child(2)>.footer-items{
    margin-right: 140px;
}

.footer-items{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-items::before{
    content: "";
    display: block;
    width: 6px;
    height: 195px;
    background-image: url(../img/footer-lines.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.footer-wrapper{
    display: flex;
    gap: 20px;
}

.footer-link{
    display: inline-block;
    color: var(--text-color);
    width: 115px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
}

.footer-img{
    width: 32px;
}

.footer-btn{
    margin-top: 49px;
    padding: 17px 40px;
    color: #343045;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.25;
    border-radius: 40px;
    background: linear-gradient(90deg, #8176AF 1%, #C0B7E8 99%);
}

.footer-copy{
    color: var(--text-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.21;
    letter-spacing: 1.82px;
}